body {
    background-color: #202020;
    color: #00FF33;
    font-family: 'IBM Plex Mono', monospace;
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 3rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.align-self-right {
    align-self: flex-end;
}

.m-auto {
    margin: auto;
}

a {
    color: #FFB000;
    text-decoration: none;
}

a:hover {
    color: #FFCC00;
}

.my-5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

textarea {
    width: 300px;
    height: 100px;
}

select, button {
    height: 28px;
}

input {
    height: 24px;
}

input, select, textarea {
    background-color: #181818;
    border: 1px solid #33FF00;
    color: #00FF33;
}

input:focus, textarea:focus, select:focus {
    outline-style: solid;
    outline-offset: -1px;
    outline-color: #FFCC00;
}

input[type="text"],input::placeholder, textarea::placeholder, select {
    font-family: 'IBM Plex Mono', monospace;
    color: #00FF33;
}

button {
    background-color: #181818;
    border: 1px solid #FFB000;
    font-family: 'IBM Plex Mono', monospace;
    color: #FFB000;
    padding: 0 0.6rem 0 0.6rem;
}

button:hover {
    color: #FFCC00;
    border-color: #FFCC00;
}

table {
    border-collapse: collapse;
}

tr {
    background-image: linear-gradient(to right, #00FF33 66%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 18px 1px;
    background-repeat: repeat-x;
}

thead>tr {
    border-top: 1px dashed #00FF33;
}

th:first-child, td:first-child {
    border-left: 1px dashed #00FF33;
}

thead>tr, tr:nth-child(even) {
    background-color: #181818;
}

th,td {
    padding : 1rem;
    background-image: linear-gradient(#00FF33 66%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 1px 20px;
    background-repeat: repeat-y;
    font-size: 0.8rem;
}

label {
    font-size: 0.8rem;
}

th {
    color: #FFB000;
    font-weight: normal;
}

.danger {
    border-color: #FF0000;
    color: #FF0000;
    padding: 0 0.6rem 0 0.6rem;

}

ul {
    list-style: none;
}

.blinking-cursor {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

.blinking-cursor::after {
    content: "";
    width: 8px;
    height: 1rem;
    background: #00FF33;
    position: relative;
    top: 3px;
    display: inline-block;
    animation: cursor-blink 1.2s steps(2) infinite;
}

.password {
    -webkit-text-security: square;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1850px)
{
    .flex-column-fhd {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .flex-around-fhd {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mb-1-fhd {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 1700px)
{
    .flex-column-hd {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .grid-container-hd {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .mb-1-hd {
        margin-bottom: 0.5rem;
    }

    .align-self-center-hd {
        align-self: center;
    }

    .show-inline-hd {
        display: inline;
    }

    .hidden-hd {
        display: none;
    }
}

@media screen and (max-width: 1530px)
{
    .overflow-xxl {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 1390px)
{
    .flex-column-xl {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .flex-column-xl-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden-xl {
        display: none;
    }
}

@media screen and (max-width: 940px)
{
    .flex-column-lg {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .flex-column-lg-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden-lg {
        display: none;
    }

    .mb-1-lg {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 720px)
{
    .flex-column-int {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden-int {
        display: none;
    }
}

@media screen and (max-width: 660px)
{
    .flex-column-md {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .hidden-md {
        display: none;
    }
}

@media screen and (max-width: 560px)
{
    .flex-column-sm {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .mb-1-sm {
        margin-bottom: 0.5rem;
    }
}